//---------------------------------COMMON-SECTION----------------------//
@import "header";

@import "current-page";

@import "get-in-touch";

@import "footer";
//-----------------------------------STYLE-PAGE------------------------//

@import "news-page__style";

@import "project-page-style";

@import "contact";

@import "about-us";

// @import "full-news-style";

@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Play-Regular;
    src: url("../fonts/Play/Play-Regular.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");

}

@font-face {
    font-family: Play-Bold;
    src: url("../fonts/Play/Play-Bold.ttf");
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
}

//-------------------------------COMMON-BLOKS------------------------------------//

body {
    left:0px;
    transition: left 400ms linear;  
}

html {
    font-size:10px;
}

body {
    margin:0px;
}

.conteiner {
    max-width: 1140px;
    margin:0 auto;
}

.heading-block {
    .heading-block__text {
        font-family: Play-Regular;
        font-size:3.3rem;
        color:#22a7f0;
        margin-bottom:20px;
    }

    .heading-block__border {
        display:block;
        width:70px;
        height:2px;
        background-color:#22a7f0;
    }
}

.control-bottom {
    display:flex;
    justify-content: flex-end;
    padding-top:16px;
    padding-right: 7px;

    .control-bottom__slaider-left-control {
        width:20px;
        fill:#22a7f0;
        height:20px;
    }

    .control-bottom__slaider-right-control {
        width:20px;
        fill:#22a7f0;
        margin-left:3px;
        height:20px;
    }
}

.control-bottom_padding-right-null {
    padding-right:0px;
}

.caption-in-block-footer {
    font-family: Play-Bold;
    color:#22a7f0;
    font-size:1.8rem;
    font-weight:900;
    margin-bottom:35px;
}

.list-in-block-footer {

    list-style-type:none;
    padding:0px;
    .list-in-block-footer__item {
        font-family: OpenSans-Regular;
        font-size:1.25rem;
        color:#ffffff;
        line-height: 2;
    
        .list-in-block-footer__item-icon {
            color:#22a7f0;
        }

        .list-in-block-footer__item-link {
            color:#ffffff;
        }
    }
}

.text-in-block-footer {
    font-family: OpenSans-Regular;
    font-size:1.25rem;
    color:#ffffff;
}

.link {
    text-decoration:none;
    color:#4b4b4b
}

.link_white {
    @extend .link;
    color:#ffffff;
}



//--------------------------------- HOME-PAGE ---------------------------//

/*START MAIN SECTION*/

/*BLOCK SLIDER*/

.slider {
    width:100%;
    height:auto;
    position:relative;
    overflow:hidden;

    .slider-wrapper {
        display:flex;
        justify-content:space-between;
        width:300%;
        transition: left 1000ms linear;
        position: relative;
        z-index:1;
        height:inherit;
    }

}


.slider-wrapper__slide {
    width:100%;
    position: relative;
    height:inherit;

    .slider-wrapper__slide-image {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        height:auto;
    }


}



.slider-wrapper__slide-description {
    width:50%;
    text-align:center;
    position:absolute;
    left:27%;
    top:30%;
    color:#ffffff;

    .slider-wrapper__slide-description-caption {
        font-family: Raleway-SemiBold;
        font-size:3.8rem;
        font-weight:900;
        margin-top:25px;
    }

    .slider-wrapper__slide-description-text {
        font-family: OpenSans-Regular;
        font-size:1.2rem;
        line-height: 1.5;
    }

    .slider-wrapper__slide-description-button {
        position:relative;
        font-family: Play-Regular;
        font-size:1.5rem;
        border: 2px solid #ffffff;
        padding:15px 30px 15px 30px;
        margin-top:40px;
        background:none;
        color:#ffffff;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 2px rgb(242, 242, 242);
    }

    .slider-wrapper__slide-description-button:active {
        box-shadow: 0px 0px 0px rgb(231, 237, 234);
        bottom:-1px;
    }
}

// .slider-wrapper__slide:nth-child(1) {
//     background-image: url("../image/picture-for-main-slaider/picture-1.png")
// }

// .slider-wrapper__slide:nth-child(2) {
//     background-image: url("../image/picture-for-main-slaider/picture-2.png");
//     left:-100%
    
// }

// .slider-wrapper__slide:nth-child(3) {
//     background-image: url("../image/picture-for-main-slaider/picture-3.png");
//     left:-100%;
    
// }

.slider-control {
    // z-index: 99999;
    box-sizing:border-box;
    width:100%;
    position: absolute;;
    display:flex;
    justify-content: space-between;
    top:0;
    top:40%;
    fill:#ffffff;
    padding:0px 50px 0px 50px;

    .button {
        width:68px;
        height:68px;
        z-index:9999;
        fill:#ffffff;
    
    }

    .button:hover {
        fill:#e6e3e3;
    }

}


/*BLOCK SERVICES*/

.services {
    background-color:#f8f8f8;
    padding: 87px 0px 81px 0px;
    .conteiner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .services-item {
            box-sizing: border-box;
            width: 33.33333333333333%;
            color:#22a7f0;
            padding: 0px 15px;

            .services-item__icon {

                .services-irem__icon-image {
                    margin:0 auto;
                    display: inherit;
                }
            }
            .services-item__heading {
                font-family: Play-Regular;
                font-size: 1.7rem;
                text-align: center;
                padding:25px 0px 30px 0px;
                text-transform: uppercase;
            }

            .services-item__description {
                font-size: 1.2rem;
                color:#353535;
                font-family: OpenSans-Regular;
                text-align: center;
            }
        }

        .services-item:nth-child(1) {
            .services-item__heading {
                padding-bottom: 32px;
            }
        }
        .services-item:nth-child(4) {
            margin-top:68px;
            .services-item__heading {
                padding-bottom: 32px;
            }
        }
        .services-item:nth-child(5) {
            margin-top:68px;
            .services-item__heading {
                padding-bottom: 32px;
            }
        }
        .services-item:nth-child(6) {
            margin-top:68px;
            .services-item__heading {
                padding-bottom: 32px;
            }
        }
    }

}

/*RECENT PROJECTS*/

.recent-projects {
    padding: 80px 0px 43px 0px;
    .conteiner {

        .recent-projects__slaider {
            width: 100%;
            overflow: hidden;
            position: relative;
            padding: 27px 0px 0px 0px;
            
            .examples-of-projects {
                display:flex;
                justify-content:space-between;
                position: relative;
                width: 168.6666666666667%;
                // max-width:9999px;
                 transition: left 300ms linear;
            
                .project:nth-child(1) {
                    margin-left:0px;
                }
        
            }
            
        }
    }
}
   
.project {
    box-sizing:border-box;
    width:31.57894736842105%;
    margin:0px 15px 0px 15px;
    position: relative;
    display:flex;

    .project_image-img{
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        height:auto;
    }

    @media all and (-ms-high-contrast:none) {  /* FOR IE11 */
        .project_image-img {height: 100% }
    }


    .zoom {
        width: 32px;
        fill: #b8b4b4;
        position: absolute;
        top: 6%;
        left: 6%;
        opacity: 0;
        padding: 23% 40% 17% 41%;
    }

    @media all and (-ms-high-contrast:none) {  /* FOR IE11 */
        .zoom {top:-18%; }
    }


    .description{
        font-family: OpenSans-Regular;
        font-size: 1.3rem;
        position: absolute;
        bottom: 0px;
        z-index: 100;
        left: 0;
        width: 100%;
        line-height: 2;
        text-align: center;
        background: rgba(228, 225, 225, 0.5);
        color: #4b4b4b;
        transition: bottom 500ms ease-in;
        align-self: flex-end;

    }

    .zoom:hover {
        opacity: 1;
    }

}

.project-description-link {
    font-family: OpenSans-Regular;
    font-size:1.4rem;
    margin-left:10px;                
}

/*FUN-FACTS BLOCK*/

.fun-facts {
    background-color:#1ba1e1;
    padding: 60px 0px 80px 0px;

    .conteiner {
        display:flex;
        justify-content: space-between;
        padding:0px 65px 0px 65px;
        box-sizing: border-box;
        .fun-facts-block {
            color:#ffffff;
            font-family: Play-Regular;
            display: flex;
            flex-direction: column;
            align-items: center;
            
    
            .facts-block__quantity {
                font-size: 3.8rem;
                font-weight:900;
                margin:0px;
                padding:0px;
            }

            .facts-block__border {
                margin:10px 0px;
                width:40px;
                height:2px;
                background-color:#ffffff;
            }
    
            .facts-block__name-facts {
                font-size:2.8rem;
                margin:0px;
                padding:0px;
            }
        }
    
    }


}

/*FROM BLOG*/

.from-blog {
    padding:80px 0px 80px 0px;

    .conteiner {
        overflow:hidden;

        .posts {
            display: flex;
            justify-content: space-between;
            padding: 30px 0px 0px 0px;
            position: relative;
            height:210px;
            width:200%;
        }
        
    }
}

.posts__block {
    display: flex;
    justify-content: space-between;
    position: relative;
    height:auto;
    width:100%;
    opacity: 0;
    transition: opacity 1s;
}

.post-blog {
    display:flex;
    justify-content:space-between;
    width:48.7%;
    overflow:hidden;

    .post-blog__picture {

        .post-blog__picture-image {

        }
        
    }

    .post-blog__desctiption {
        width: 58.44%;
        padding: 43px 25px 32px 25px;
        background-color:#f8f8f8;
        font-family: OpenSans-Regular;
        color:#353535;
        font-size:1.3rem;
        position:relative;
        box-sizing:border-box;


        .post-blog__desctiption-date {
            font-style:italic;
        }

        .post-blog__desctiption-text {

        }

        .post-blog__desctiption-link {
            font-size:1.2rem;
            color:#26a1e4;
            font-family: OpenSans-Bold;
            display: inline-block;
            position: absolute;
            right: 25px;
            bottom: 32px;
            text-transform: uppercase;
           
        }
    }

}

.posts__block:nth-child(2n) {
    left: -50%;
}

.post-blog_show {
    opacity: 1;
}

//----------------------------------adaptive

@media(max-width: 1180px) {
    .conteiner {
        max-width: 95vw;
        margin:0 auto;
    }

}


@media(max-width: 1075px) {
    /*BLOCK SLIDER*/
    .slider-wrapper__slide-description {
        width:60%;
        left:21%;
    }

    .slider-control {
        .button {
            width:50px;
            height:50px;
        }
    
    }

}


@media(max-width: 930px) {

    /*FROM BLOG*/
    .post-blog {  
        .post-blog__desctiption {
            padding: 23px 15px 20px 15px;
        }
    }
}

@media(max-width: 850px) {

    .recent-projects .conteiner .recent-projects__slaider .control-bottom {
        padding-right: 11px;
    }

    .project {
        .zoom {
            width: 22px;
            top: 4%;
            left: 5%;
            padding: 23% 40% 17% 41%;
        }
    
    }
    
    /*FROM BLOG*/

    .from-blog {
        .conteiner {
            .posts {
                height:auto;//
                width:200%;
            }   
        }
    }

    .posts__block {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap:wrap;
        height:auto;
        width:100%;
        opacity: 0;
        transition: opacity 1s;
    }

    .post-blog {
        width:100%;//
        .post-blog__desctiption {
            width: 71.84%;//
            margin-bottom:4px;//
        }
    
    }

    .post-blog:nth-child(2) {//
        margin-top:20px;
    }

    .post-blog_show {
        opacity: 1;
    }

}


@media(max-width: 896px) {
     /*BLOCK SLIDER*/
    .slider-wrapper__slide-description {
        width:70%;
        left:15%;  
        .slider-wrapper__slide-description-caption {
            font-size:3rem;//

        }
    
        .slider-wrapper__slide-description-text {
            width:80%;
            margin:0 auto;
        }
    
        .slider-wrapper__slide-description-button {
            padding:15px 20px 15px 20px;
            margin-top:20px;
        }

    }
    
}

@media (max-width:800px) {
     /*BLOCK SLIDER*/
     .slider {
        .slider-wrapper {
            margin-top:90px;
        }
    }

    .slider-wrapper__slide-description {
        top:22%;
    }

    .recent-projects {
        padding: 40px 0px 43px 0px;
    }

    .slider-control {
        top:54%;
    
    } 

    .project {
        .description{
            font-size: 1.15rem;
            .project-description-link {
                font-size: 1.25rem;
            }
        }
    }

    /*FUN-FACTS BLOCK*/

    .fun-facts {
        padding: 30px 0px 40px 0px;
        .conteiner {
            padding:0px 0px 0px 0px;
        
        }
    }

    .control-bottom {
    
        .control-bottom__slaider-left-control {
            width:30px;
            height:30px;
        }
    
        .control-bottom__slaider-right-control {
            width:30px;
            margin-left:12px;
            height:30px;
        }
    }

}


@media (max-width:700px) {
     /*BLOCK SLIDER*/
    .slider-wrapper__slide-description {
        top:19%;
        left:16%;  
        .slider-wrapper__slide-description-caption {
            font-size:2.4rem;//

        }
    
        .slider-wrapper__slide-description-text {
            font-size:1.15rem;
        }
    
        .slider-wrapper__slide-description-button {
            padding:9px 15px 9px 15px;
            margin-top:20px;
            font-size:1.3rem;
        }
    }

    .slider-control {
        top:53%;
    }

    /*BLOCK SERVICES*/

    .services {
        background-color:#f8f8f8;
        padding: 40px 0px 40px 0px;
        .conteiner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .services-item {
                width: 50%;//
                .services-item__heading {
                    padding:20px 0px 15px 0px;//
                }
            }
            .services-item:nth-child(1) {//
                .services-item__heading {
                    padding-bottom: 12px;
                }
            }

            .services-item:nth-child(3) {//
                margin-top:68px;
                .services-item__heading {
                    padding-bottom: 12px;
                }
            }
            .services-item:nth-child(4) {//
                margin-top:68px;
                .services-item__heading {
                    padding-bottom: 12px;
                }
            }
            .services-item:nth-child(5) {//
                margin-top:68px;
                .services-item__heading {
                    padding-bottom: 12px;
                }
            }
            .services-item:nth-child(6) {//
                margin-top:68px;
                .services-item__heading {
                    padding-bottom: 12px;
                }
            }
        }

    } 

    /*RECENT PROJECTS*/

    .recent-projects {
        display:none;
        padding: 80px 0px 43px 0px;
        .conteiner {
            .recent-projects__slaider {
                margin-left:12px;
                .examples-of-projects {
                    width: 250%;//
                }  
            }
        }
    }

    .project {
        width:50%;//
    }

    .project-description-link {
        font-family: OpenSans-Regular;
        font-size:1.4rem;
        margin-left:10px;                
    }

    .recent-projects .conteiner .recent-projects__slaider .control-bottom {
        padding-right: 23px;
    }

    /*FUN-FACTS BLOCK*/
    .fun-facts {
        .conteiner {
            padding:0px 0px 0px 0px;

            .fun-facts-block {
                .facts-block__quantity {
                    font-size: 3rem;
                }
                .facts-block__name-facts {
                    font-size:2rem;

                }
            }
        
        }


    }


}

@media (max-width:600px) {
     /*BLOCK SLIDER*/
    .slider-control {
        top:56%;
        width: 110%;
        left: -5%;
        .button {
            width:40px;
            height:40px;
        }
    }

    .slider-wrapper__slide-description {  
        .slider-wrapper__slide-description-caption {
            font-size:2rem;//
        }
    
        .slider-wrapper__slide-description-text {
            font-size:1.1rem;
        }
    
    }

}


@media (max-width:500px) {
     /*BLOCK SLIDER*/
    .slider-control {
        width: 115%;
        left: -8%;
        top:58%;
        .button {
            width:30px;
            height:30px;
        }
    }

    .slider-wrapper__slide-description {
        top:16%;
        .slider-wrapper__slide-description-caption {
            font-size:1.9rem;//

        }
    
        .slider-wrapper__slide-description-text {
            font-size:1rem;
        }

        .slider-wrapper__slide-description-button {
            padding:5px 8px 5px 8px;
            margin-top:10px;
            font-size:1.2rem;
        }

    }

    /*RECENT PROJECTS*/

    .recent-projects {
        .conteiner {
            .recent-projects__slaider {
                margin-left:12px;
                .examples-of-projects {
                    width: 500%;//
            
                }
                
            }
        }
    }

    .slider-wrapper__slide {
        width:100%;//
    }


    .recent-projects .conteiner .recent-projects__slaider .control-bottom {
        padding-right: 26px;
    }


    .project {
        .description{
            font-size: 1.25rem;
            .project-description-link {
                font-size: 1.35rem;
            }
        }
    }

    /*FUN-FACTS BLOCK*/
    .fun-facts {
        .conteiner {
            flex-direction:column;

            .fun-facts-block {
                margin-top:60px;

                .facts-block__quantity {
                    font-size: 3.5rem;
                }
                .facts-block__name-facts {
                    font-size:3rem;

                }
            }

            .fun-facts-block:nth-child(1) {
                margin-top:0px;
            }
            
        }
    
    
    }

    /*FROM BLOG*/

    .post-blog {
        // position: absolute;
        display:flex;
        justify-content:space-between;
        height:140px;
        overflow:hidden;

        .post-blog__picture {
            height:140px;
            .post-blog__picture-image {
                width:155px;
                height:140px;
            }
        }

        .post-blog__desctiption {
            width: 80.44%;
            padding: 10px 10px 10px 10px;
            margin-bottom:0px;
            font-size:1.3rem;
            

            .post-blog__desctiption-link {
                right: 15px;
                bottom: 12px;
            }

        }

    }

    .from-blog {
        padding:40px 0px 40px 0px;
    }

}


@media (max-width:430px) {
     /*BLOCK SLIDER*/
    .slider-control {
        width: 118%;
        left: -9%;
        top:60%;
        .button {
            width:25px;
            height:25px;
        }
    }

    .slider-wrapper__slide-description {
        top:15%;
        .slider-wrapper__slide-description-caption {
            font-size:1.6rem;//

        }
    
        .slider-wrapper__slide-description-text {
            font-size:0.8rem;
        }

        .slider-wrapper__slide-description-button {
            padding:5px 10px 5px 10px;
            margin-top:15px;
        }

    }

}


@media (max-width:400px) {
    /*BLOCK SERVICES*/
    .services {
        .conteiner {
            .services-item {
                width: 100%;//
                .services-item__heading {
                    padding:20px 0px 15px 0px;//
                }

                .services-item__description {
                    padding:0px 25px
                }
            }
            .services-item:nth-child(2) {//
                margin-top:68px;
                .services-item__heading {
                    padding-bottom: 12px;
                }
            }

        }
    
    }  

    /*FROM BLOG*/

    .post-blog {
        height:110px;
        .post-blog__picture {
            height:110px;
            .post-blog__picture-image {
                width:125px;
                height:110px;
            }
        }
        .post-blog__desctiption {
            width: 80.44%;
            padding: 10px 10px 10px 10px;
            margin-bottom:0px;
            font-size:1.12rem;
            .post-blog__desctiption-link {
                right: 15px;
                bottom: 12px;
                font-size:1.2rem;
            }
    
        }
    
    }
}

@media (max-width:370px) {
     /*BLOCK SLIDER*/
    .slider-wrapper__slide-description {
        top:10%;

        .slider-wrapper__slide-description-caption {
            font-size:1.4rem;//

        }
    
        .slider-wrapper__slide-description-text {
            font-size:0.7rem;
        }

        .slider-wrapper__slide-description-button {
            padding:5px 10px 5px 10px;
            margin-top:15px;
        }

    }

    .slider-control {
        top:61%;
    }
}

@media (max-width:350px) {

    /*FROM BLOG*/

    .post-blog {
        .post-blog__desctiption {
            font-size:1.2rem;
            padding:8px 7px 7px 7px;
                    
            .post-blog__desctiption-link {
                right: 9px;
                top: 8px;
                font-style:italic;
                text-transform:lowercase;
            }
        
        }
        
    }

}

@media (max-width:320px) {

}



