doctype
html(lang="eng-ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" )
        //- link(href="styles/animate-css.css" rel="stylesheet")
        link(href="styles/main.css" rel="stylesheet")
        title="About Us"
    body
        include header
        include current-page
        section.about-us-main
            .wrapper-who-we-are
                .conteiner
                    .who-we-are
                        .who-we-are__picture
                            img(class="who-we-are__picture-image" src="image/about-us-page/picture-for-who-we-are-block.png" alt="picture a company")
                        
                        .who-we-are__descroption
                            span.who-we-are__descroption-heading.heding-description Who we are?
                            p.descroption-paragraph
                                |Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                |doloremque laudyntium, totam rem aperiam, eaque ipsa quae illo inventore
                                |veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                |voluptatem quiavoluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                |magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                                |qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velir,sed quia non
                                |numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                |oluptatem. Ut enim ad minima veniam, quis nostrum exercitationem illam corporis
                                |suscipitlaboriosam, nisi ut aliquid.
                            p.descroption-paragraph
                                |Eacommodi consequatur? Quis autem vei eum iure reprehenderit qui in ea voluptate
                                |velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                                |voluptas nulia pariatur? At vero eos et accusamus et iusto adio dignissimos ducimus
                                |qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                |molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                                |qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            button(class="who-we-are__button")
                                |Our services
            .wrapper-advantage
                .conteiner       
                    .advantage
                        .advantage__item
                            .advantage__item--logo
                                img(src="image/about-us-page/pic-for-advantage-block-1.png" class="advantage__item--logo--image" alt="logo in block")
                            .advantage__item--text
                                .advantage__item-text--heading Within budget
                                .advantage__item-text--description
                                    |Work with us involve a carefully planned series of
                                    |steps, centered around a schedule we strick
                                    |daily communication.
                    
                        .advantage__item
                            .advantage__item--logo
                                img(src="image/about-us-page/pic-for-advantage-block-2.png" class="advantage__item--logo--image" alt="logo in block")
                            .advantage__item--text
                                .advantage__item-text--heading Best Services
                                .advantage__item-text--description
                                    |Work with us involve a carefully planned series of
                                    |steps, centered around a schedule we strick
                                    |daily communication.
                      
                        .advantage__item
                            .advantage__item--logo
                                img(src="image/about-us-page/pic-for-advantage-block-3.png" class="advantage__item--logo--image" alt="logo in block")
                            .advantage__item--text
                                .advantage__item-text--heading Friendly support
                                .advantage__item-text--description
                                    |Work with us involve a carefully planned series of
                                    |steps, centered around a schedule we strick
                                    |daily communication.
            .wrapper-specialization       
                .conteiner
                    .specialization
                        .choose-us
                            span.heding-description Why choose us
                            .additional-Information
                                input(class="additional-Information__input" type="checkbox" id="additional-Information__input-id-1")
                                label(class="additional-Information__label-border" for="additional-Information__input-id-1")
                                    label(class="additional-Information__label-text" for="additional-Information__input-id") We are creative
                                p.additional-Information__text
                                    |As a leader in our industry, we have always worked to develop advanced
                                    |technology and innovative methods.
                            .additional-Information
                                input(class="additional-Information__input" type="checkbox" id="additional-Information__input-id-2")
                                label(class="additional-Information__label-border" for="additional-Information__input-id-2")
                                    label(class="additional-Information__label-text" for="additional-Information__input-id") Proffesional Service
                                p.additional-Information__text
                                    |As a leader in our industry, we have always worked to develop advanced
                                    |technology and innovative methods.
                                    |At vero eos et accusamus et iusto adio dignissimos ducimus
                                    |qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                    |molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                            .additional-Information
                                input(class="additional-Information__input" type="checkbox" id="additional-Information__input-id-3")
                                label(class="additional-Information__label-border" for="additional-Information__input-id-3")
                                    label(class="additional-Information__label-text" for="additional-Information__input-id") 15 Years Experience
                                p.additional-Information__text
                                    |As a leader in our industry, we shave always worked to develop advanced
                                    |technology and innovative methods. Cupiditate non provident, similique sunt in culpa
                                    |qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            .additional-Information
                                input(class="additional-Information__input" type="checkbox" id="additional-Information__input-id-4")
                                label(class="additional-Information__label-border" for="additional-Information__input-id-4")
                                    label(class="additional-Information__label-text" for="additional-Information__input-id") Quality Workmanship
                                p.additional-Information__text
                                    |As a leader in our industry, we have always worked to develop advanced
                                    |technology and innovative methods. Perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    |doloremque laudyntium, totam rem aperiam, eaque ipsa quae illo inventore.
                                    |Tempora incidunt ut labore et dolore magnam aliquam quaerat
                                    |oluptatem. Ut enim ad minima veniam, quis nostrum exercitationem illam corporis
                                    |suscipitlaboriosam, nisi ut aliquid.

                        .what-do
                            span.heding-description What we do
                            p.descroption-paragraph
                                |Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                |doloremque laudyntium, totam rem aperiam, eaque ipsa quae illo inventore
                                |veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                |voluptatem quiavoluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                |magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                                |qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velir,sed quia non
                                |numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                |oluptatem. Ut enim ad minima veniam, quis nostrum exercitationem illam corporis
                                |suscipitlaboriosam, nisi ut aliquid.
                            p.descroption-paragraph
                                |Eacommodi consequatur? Quis autem vei eum iure reprehenderit qui in ea voluptate
                                |velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                                |voluptas nulia pariatur? At vero eos et accusamus et iusto adio dignissimos ducimus
                                |qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                |molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                                |qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            .wrapper-reviews        
                .conteiner
                    .reviews
                        .reviews-slider
                            .slide
                                .reviews__photo
                                    img(src="image/about-us-page/picture-for-reviews-block-1.png" class="reviews__photo-image" alt="photo")
                                .reviews__description
                                    p.reviews__description-heading What Our Clients say
                                    .reviews__description-wrapper
                                        p.reviews__description-text
                                            |consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                            |Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            |consectetur, adipisci velit, sed quia non numquam eius modi tempora
                                            |incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                            |Ut enim ad minima veniam, quis nostrum exerci
                                        p.reviews__description-name Hary Sunio
                                        p.reviews__description-profession CEO
                            .slide
                                .reviews__photo
                                    img(src="image/about-us-page/picture-for-reviews-block-2.png" class="reviews__photo-image" alt="photo")
                                .reviews__description
                                    p.reviews__description-heading What Our Clients say
                                    .reviews__description-wrapper
                                        p.reviews__description-text
                                            |consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                            |Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            |consectetur, adipisci velit, sed quia non numquam eius modi tempora
                                            |incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                            |Ut enim ad minima veniam, quis nostrum exerci
                                        p.reviews__description-name James Bond
                                        p.reviews__description-profession Scout
                            .slide
                                .reviews__photo
                                    img(src="image/about-us-page/picture-for-reviews-block-3.png" class="reviews__photo-image" alt="photo")
                                .reviews__description
                                    p.reviews__description-heading What Our Clients say
                                    .reviews__description-wrapper
                                        p.reviews__description-text
                                            |consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                            |Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            |consectetur, adipisci velit, sed quia non numquam eius modi tempora
                                            |incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                            |Ut enim ad minima veniam, quis nostrum exerci
                                        p.reviews__description-name John Smith
                                        p.reviews__description-profession Design
                        .nav-slider
                            a(class="nav-slider__link current-link" data-slide="0" href="#")
                            a(class="nav-slider__link" data-slide="1" href="#")
                            a(class="nav-slider__link" data-slide="2" href="#")
            .wrapper-our-team
                .conteiner       
                    .our-team
                        span.heding-description Our crazy team
                        .our-team__album
                            .our-team__album--photo
                                .our-team__album--photo--picture
                                    img(src="image/about-us-page/pic-for-our-team-block-1.png" class="our-team__album--photo--picture--image" alt="picture in album")
                                .our-team__album--photo--caption
                                    .our-team__album--photo--caption--name Shila Khondoker
                                    .our-team__album--photo--caption--position Chief technical officer
                            .our-team__album--photo
                                .our-team__album--photo--picture
                                    img(src="image/about-us-page/pic-for-our-team-block-2.png" class="our-team__album--photo--picture--image" alt="picture in album")
                                .our-team__album--photo--caption
                                    .our-team__album--photo--caption--name Shila Khondoker
                                    .our-team__album--photo--caption--position Chief technical officer
                            .our-team__album--photo
                                .our-team__album--photo--picture
                                    img(src="image/about-us-page/pic-for-our-team-block-3.png" class="our-team__album--photo--picture--image" alt="picture in album")
                                .our-team__album--photo--caption
                                    .our-team__album--photo--caption--name Shila Khondoker
                                    .our-team__album--photo--caption--position Chief technical officer
                            .our-team__album--photo
                                .our-team__album--photo--picture
                                    img(src="image/about-us-page/pic-for-our-team-block-4.png" class="our-team__album--photo--picture--image" alt="picture in album")
                                .our-team__album--photo--caption
                                    .our-team__album--photo--caption--name Shila Khondoker
                                    .our-team__album--photo--caption--position Chief technical officer

        include get-in-touch
        include footer
        script(src="js/review-carousel.js")
        script(src="js/menu.js")