.current-page
    .conteiner
        .current-page__name 
            a(class="link_white current-page__name-link" href="") News
        .current-page__way
            .current-page__way-root-page
                a(class="link_white current-page__way-root-page-link" href="")
                    |Home >
            .current-page__way-current-page
                a(class="link_white current-page__way-current-page-link" href="")
                    |&nbspNews