section.footer
    .conteiner
        .footer__wrapper
            .about-us
                .caption-in-block-footer About Us
                .text-in-block-footer.
                    Li Europan lingues es membres del sam
                    familie. Lor separat existentie es un
                    myth. Por scientie, musica, sport etc,
                    litot Europa usa li sam vocabular. Li
                    lingues differe solmen.
            .related-links
                .caption-in-block-footer Related Links
                ul(class="list-in-block-footer")
                    li(class="list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="") 
                            |Official Site
                    li(class="list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="") 
                            |CreativeMarket profile
                    li(class="list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | Materialzer page on CM
                    li(class="list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | Electronic WP Theme
                    li(class="list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | Was faww
            .news-media
                .caption-in-block-footer News & Media
                ul(class="list-in-block-footer")
                    li(class="list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | Events
                    li(class="link list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | News and Press Releases
                    li(class="link list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | Interviews
                    li(class="link list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | Subsidiaries Media Contacts
                    li(class="link list-in-block-footer__item")
                        span.list-in-block-footer__item-icon > &nbsp
                        a(class="link list-in-block-footer__item-link" href="")
                            | Media Kit
            .contacts
                .caption-in-block-footer Get in Touch
                .text-in-block-footer Lorem Ipsum is simply dummy text of
                            |the printing and typesetting industry.
                .location-footer
                    include ../image/icon-for-footer-block/map-icon.svg
                    |84 Street, City, State 24813
                .number-phone-footer
                    include ../image/call-icon-for-header-block.svg
                    a(class="link number-phone-footer-link" href="tel:+386 40 111 5555") +386 40 111 5555
                .mail-footer
                    include ../image/mail-icon-for-header-block.svg
                    | info@yourdomain.com
.rights
    span.rights-icon © &nbsp
    |All Rights Reserved