doctype
html(lang="eng-ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" )
        //- link(href="styles/animate-css.css" rel="stylesheet")
        link(href="styles/full-news-style.css" rel="stylesheet")
        title="Full News"
    body
        include header
        include current-page
        section.full-news
            .conteiner
                .full-news__wrapper
                    .news
                        .item-post.news__item-post
                            .item-post__picture
                                img(class="item-post__page-image" src="image/news-page/picture-for-viewed-posts-block/pic_for_viewed_posts_block-1.png")
                                .item-post__page-info-wrapper
                                    .item-post__page-info
                                        span(class="item-post__page-info-date-head") DATE
                                        span(class="item-post__page-info-date-number") March 24, 2015
                                .item-post-description
                                    .item-post-description-heading
                                        |Steps Toward Developing A Content Strategy
                                    p.item-post-description-main
                                        |Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |elit. Ab debitis ea est illum ipsa itaque liberop 
                                        |tiovolup. Conseq untur deserunt expedita, fugiat
                                        |hic illum porro quidem quis recusandae vero? 
                                        |Aliquiassumenda cum delectus eaque eligendi, eum
                                        |excepturi fugit illum impedit in iste laudantium
                                        |modi natus, nisi nobis gfy g obcaecati praesentium
                                        |quis reiciendis rerum sapiente&nbsp
                                        |Tumbir literally kogi deep v. Bespoke migas four 
                                        |dollar toast, raw denim gluten-free beard hella 
                                        |cold-pressed lumbersexual vinyl biodiesel scenester
                                        |lomo fanny pack. Sustainable stumptown street art,
                                        |+1 Etsy gentrify fashionaxe sriracha meh farm-to-table
                                        |Godard hashtag lo-fi aesthetic irony. Disrupt tofu mlkshk,
                                        |sartorial Pitchfork retro heirloom ugh PBRB actually 
                                        |ethical. YOLO foof party lomo, cardigan health goth
                                        |kitsch.
                                    p.item-post-description-main
                                        |DIY food truck Carles aesthetic, sartorial keytar gentrify
                                        |Neutra synth kogi yr McSweeney's. Quinoa farm-to-table small
                                        |batch, actually seitan tousied Left Align image typewriter
                                        |Blue Bottle whatever bitters sartorial lumbersexual narwhal
                                        |single-origin coffee. Salvia Tumbir street art, art party
                                        |cronut freegan post-ironic forage photo booth mixtape 
                                        |Brooklyn Schlitz igh wolf
                                        |Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |elit. Ab debitis ea est illum ipsa itaque liberop 
                                        |tiovolup. Conseq untur deserunt expedita, fugiat
                                        |hic illum porro quidem quis recusandae vero? 
                                        |Aliquiassumenda cum delectus eaque eligendi, eum
                                        |excepturi fugit illum impedit in iste laudantium
                                        |modi natus, nisi nobis gfy g obcaecati praesentium
                                        |quis reiciendis rerum sapiente&nbsp
                                    p.item-post-description-main
                                        |Tumbir literally kogi deep v. Bespoke migas four 
                                        |dollar toast, raw denim gluten-free beard hella 
                                        |cold-pressed lumbersexual vinyl biodiesel scenester
                                        |lomo fanny pack. Sustainable stumptown street art,
                                        |+1 Etsy gentrify fashionaxe sriracha meh farm-to-table
                                        |Godard hashtag lo-fi aesthetic irony. Disrupt tofu mlkshk,
                                        |sartorial Pitchfork retro heirloom ugh PBRB actually 
                                        |ethical. YOLO foof party lomo, cardigan health goth
                                        |kitsch.
                                        |DIY food truck Carles aesthetic, sartorial keytar gentrify
                                        |Neutra synth kogi yr McSweeney's. Quinoa farm-to-table small
                                        |batch, actually seitan tousied Left Align image typewriter
                                        |Blue Bottle whatever bitters sartorial lumbersexual narwhal
                                        |single-origin coffee. Salvia Tumbir street art, art party
                                        |cronut freegan post-ironic forage photo booth mixtape 
                                        |Brooklyn Schlitz igh wolf
                                        |Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |elit. Ab debitis ea est illum ipsa itaque liberop 
                                        |tiovolup. Conseq untur deserunt expedita, fugiat
                                        |hic illum porro quidem quis recusandae vero? 
                                        |Aliquiassumenda cum delectus eaque eligendi, eum
                                        |excepturi fugit illum impedit in iste laudantium
                                        |modi natus, nisi nobis gfy g obcaecati praesentium
                                        |quis reiciendis rerum sapiente&nbsp
                                    p.item-post-description-main
                                        |DIY food truck Carles aesthetic, sartorial keytar gentrify
                                        |Neutra synth kogi yr McSweeney's. Quinoa farm-to-table small
                                        |batch, actually seitan tousied Left Align image typewriter
                                        |Blue Bottle whatever bitters sartorial lumbersexual narwhal
                                        |single-origin coffee. Salvia Tumbir street art, art party
                                        |cronut freegan post-ironic forage photo booth mixtape 
                                        |Brooklyn Schlitz igh wolf
                                        |Tumbir literally kogi deep v. Bespoke migas four 
                                        |dollar toast, raw denim gluten-free beard hella 
                                        |cold-pressed lumbersexual vinyl biodiesel scenester
                                        |lomo fanny pack. Sustainable stumptown street art,
                                        |+1 Etsy gentrify fashionaxe sriracha meh farm-to-table
                                        |Godard hashtag lo-fi aesthetic irony. Disrupt tofu mlkshk,
                                        |sartorial Pitchfork retro heirloom ugh PBRB actually 
                                        |ethical. YOLO foof party lomo, cardigan health goth
                                        |kitsch.
                                    p.item-post-description-main
                                        |Sustainable stumptown street art,
                                        |+1 Etsy gentrify fashionaxe sriracha meh farm-to-table
                                        |Godard hashtag lo-fi aesthetic irony. Disrupt tofu mlkshk,
                                        |sartorial Pitchfork retro heirloom ugh PBRB actually 
                                        |ethical. YOLO foof party lomo, cardigan health goth
                                        |kitsch.
                                        |Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |elit. Ab debitis ea est illum ipsa itaque liberop 
                                        |tiovolup. Conseq untur deserunt expedita, fugiat
                                        |hic illum porro quidem quis recusandae vero? 
                                        |Aliquiassumenda cum delectus eaque eligendi, eum
                                        |excepturi fugit illum impedit in iste laudantium
                                        |modi natus, nisi nobis gfy g obcaecati praesentium
                                        |quis reiciendis rerum sapiente&nbsp
                                    p.item-post-description-main
                                        |Ipsum dolor sit amet, consectetur adipisicing
                                        |elit. Ab debitis ea est illum ipsa itaque liberop 
                                        |tiovolup. Conseq untur deserunt expedita, fugiat
                                        |hic illum porro quidem quis recusandae vero? 
                                        |Aliquiassumenda cum delectus eaque eligendi, eum
                                        |excepturi fugit illum impedit in iste laudantium
                                        |modi natus, nisi nobis gfy g obcaecati praesentium
                                        |quis reiciendis rerum sapiente&nbsp                         
                        .form-comment
                            .social-media-share
                                span(class="social-media-share__title") Share with
                                button(class="social-media-share_button social-media-share_facebook") Facebook
                                button(class="social-media-share_button social-media-share_twitter") Twitter
                                button(class="social-media-share_button social-media-share_google-plus") Google Plus
                                button(class="social-media-share_button social-media-share_instagram") Instagram
                            form(class="form-comment" id="form-comment-id" action="" name="form-comment")
                                p.form-comment__heading
                                    |Submit a Comment
                                p.form-comment__annotation
                                    |Your email address will not be published. Required fields a marked
                                    span(class="form-comment__annotation-marker") *
                                .form-comment__input-information
                                    input(class="input-information form-comment__name" id="form-comment__name-id" type="text" name="form-comment__name" placeholder="Name*")
                                    input(class="input-information form-comment__email" id="form-comment__email-id" type="email" name="form-comment__email" placeholder="E-mail*")
                                    input(class="input-information form-comment__website" id="form-comment__website-id" type="text" name="form-comment__website" placeholder="Website")
                                .form-comment__input-comments
                                    textarea(class="form-comment__textarea" name="form-comment__textarea" placeholder="Your Comment")
                    .posts__other-posts
                        form(class="posts__other-posts__form" id="posts__other-posts__form" action="" name="posts__other-posts__form-name")
                            .posts__other-posts__form-search
                                input(type="search" class="posts__other-posts__form-search-input" name="search" value="Searching" onfocus="if (this.value == 'Searching') {this.value=''}" onblur="if (this.value == '') {this.value='Searching'}")
                                label(class="posts__other-posts__form-search-label" for="")
                                    include ../image/news-page/search-icon-for-form.svg
                        .recent-posts
                            .name-posts-section Recent Posts
                            .recent-posts__item
                                .recent-posts__item-picture
                                    img(class="recent-posts__item-picture-image" src="image/news-page/picture-for-recent-posts/pic_for_recent_posts_1.png" alt="picture-in-post")
                                .recent-posts__item-description
                                    .recent-posts__item-description-text
                                        |There is not good blog withhout tim great
                                        |readability is very importent
                                    .recent-posts__item-description-heading Viral Polaroid Ugh
                            .recent-posts__item
                                .recent-posts__item-picture
                                    img(class="recent-posts__item-picture-image" src="image/news-page/picture-for-recent-posts/pic_for_recent_posts_2.png" alt="picture-in-post")
                                .recent-posts__item-description
                                    .recent-posts__item-description-text
                                        |6 Reasons to Attend Elevate New York 2015
                                        |events one way oft the development
                                    .recent-posts__item-description-heading Labitur Qui
                            .recent-posts__item
                                .recent-posts__item-picture
                                    img(class="recent-posts__item-picture-image" src="image/news-page/picture-for-recent-posts/pic_for_recent_posts_3.png" alt="picture-in-post")
                                .recent-posts__item-description
                                    .recent-posts__item-description-text
                                        |User Experience As A Ranking Signal Is
                                        |Currently Only For Mobile Resalts
                                    .recent-posts__item-description-heading Viral Polaroid Ugh
                            .recent-posts__item
                                .recent-posts__item-picture
                                    img(class="recent-posts__item-picture-image" src="image/news-page/picture-for-recent-posts/pic_for_recent_posts_4.png" alt="picture-in-post")
                                .recent-posts__item-description
                                    .recent-posts__item-description-text
                                        |When you start with what's at stake for
                                        |the right to their attention
                                    .recent-posts__item-description-heading El His Nonumes
                        .latest-projects
                            .name-posts-section Latest Projects
                            .latest-projects__item
                                img(class="latest-projects__item-image" src="image/news-page/picture-for-block-latest-projects/pic_for_latest_projects_1.png" alt="picture-in-posts")
                            .latest-projects__item
                                img(class="latest-projects__item-image" src="image/news-page/picture-for-block-latest-projects/pic_for_latest_projects_2.png" alt="picture-in-posts")
                            .latest-projects__item
                                img(class="latest-projects__item-image" src="image/news-page/picture-for-block-latest-projects/pic_for_latest_projects_3.png" alt="picture-in-posts")
                            .latest-projects__item
                                img(class="latest-projects__item-image" src="image/news-page/picture-for-block-latest-projects/pic_for_latest_projects_4.png" alt="picture-in-posts")
                        .blog-categories
                            .name-posts-section Blog Categories
                                ul(class="blog-categories__list")
                                    li(class="blog-categories__list-item")
                                        a(class="blog-categories__list-item-link" href="") Building
                                    li(class="blog-categories__list-item")
                                        a(class="blog-categories__list-item-link" href="") Company
                                    li(class="blog-categories__list-item")
                                        a(class="blog-categories__list-item-link" href="") Design
                                    li(class="blog-categories__list-item")
                                        a(class="blog-categories__list-item-link" href="") Press
                                    li(class="blog-categories__list-item")
                                        a(class="blog-categories__list-item-link" href="") Tips       
        include get-in-touch
        include footer
        script(src="js/menu.js")